header {
    height: 500px;
    background: url('./imgs/pancakes-header.jpg') no-repeat center;
    background-size: cover;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
